.nav-top{
    background-color: #f3e6bc !important;

}
.nav-link{
    background-color: #eee0b9 !important;
    margin: 0.3em !important;
    border-radius: 0.3em !important;
    font-weight:  bold !important; /* para deixa em negrito */
    
    
}
.btn-primary{
    background-color:#f5886b !important;
    border-color:#f5886b !important;/* para mudar a cor da borda*/
}

footer{
    background-color:#f3e6bc !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    padding: 0.3em !important;
    font-size: 18px !important;/* mudar o tamanho da fonte*/
    font-weight: bold !important;

}
.divisão{
    background-color: #f3e6bc !important;
    text-align: center !important;
    padding: 0.7em !important;

}
.sec-pacotes{
    margin-left: 5% !important;
    margin-right: 5% !important;
    justify-content: center !important;
    margin-bottom: 1% !important;

}
.card{
    padding: 1% !important;
    margin: 0% 0.5% 0.5% !important;

}
.sec-contato{
    margin-bottom: 5% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
}
.conteudo{
    padding: 1em !important;
    margin-top: 1em !important;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.txt-icone{
    font-size: 100%;

}


